
div,
form,
input {
  margin: 10px;
} 

body {
  background-image: url(../images/jimmynintendo.jpg);
}

p {
  font-weight: bolder;
}

.btn {
  margin: 10px;
  background-color: rgb(39, 19, 218); 
  color: white;
  font-weight: bolder;
}

#game-input {
  font-weight: bolder;
}

#label {
  font-weight: bolder;
}
